@CHARSET "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body {
  font-family: 'Nanum Gothic'
}

body, table, div, p{ font-family: 'Nanum Gothic'; }

	div {
		float:center; 
		margin-right:10px;
	}

	label {
	display:inline-block;
	text-align:center;
	width:80px;
	} 
	input {
		  text-align:center;
		  margin: 0 auto;
		  display: inline-block;
		  height: 30px;
		  padding: 0 10px;
		  vertical-align: middle;
		  border: 1px solid #dddddd;
		  width: 10%;
		  color: #000000;
		  border-radius: 5px;
		}
